<%= content_for(:extra_js, "room") %>

<%= subscribe_to "/rooms/#{@room.sha1}/messages" %>
<%= subscribe_to "/rooms/#{@room.sha1}/events" %>

<%= content_tag :h1, :class => "room_id", "data-id" => @room.id, "data-name" => @room.name, "data-sha1" => @room.sha1 do %>
  Chat Room: <%= link_to @room.name, room_path(@room) %>
<% end %>

<p>Invite others to this room with the following URL:
  <%= link_to room_url(@room), room_url(@room) %></p>

<div id="chatlog"><% if @room.recent_chats.any? %>
  <div style="color: gray;">
    <% @room.recent_chats.each do |chat| %>
      <%= render :partial => "chat", :locals => { :chat => chat } %>
    <% end %>
  </div>
<% end %></div>
<div id="chatinput">
<%= form_for :chat, :url => chat_room_path(@room), :remote => true do |f| %>
  <%= f.text_field :message, :disabled => true, :autocomplete => "off" %>
  <%= f.submit "Send", :disabled => true %>
<% end %>
</div>

<div id="sizes">
  <%= link_to "Bigger", "#", :id => "bigger" %> |
  <%= link_to "Smaller", "#", :id => "smaller" %>
</div>

<script type="text/javascript">
  $(window).bind('beforeunload', function() {
    $.ajax({
      url: "/rooms/<%= @room.sha1 %>/parted",
      async: false,
      type: "POST"
    });
  });
</script>